@import "~bulma/sass/utilities/initial-variables"

body a 
  &:link, &:visited, &:hover, &:active
    color: #000

  
  
// Config vars
// 424 logo brand color: #e30001
$fourtwofour-red: #000
$fourtwofour-red-invert: #fff

$primary: $fourtwofour-red
$primary-invert: $fourtwofour-red-invert
$body-color: #333


  
.navbar .navbar-menu
  box-shadow:none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
// Title middle
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center



.margin-top-0
  margin-top: 0 !important

.navbar-item:hover
  color: #e30001

.navbar-end .navbar-item
  display: inline-block
  font-size: 10px
  


.navbarlogo
  position: fixed
  width: 44px
  left: 58px
  top: 2px
  z-index: 1

  


@import "~bulma"
